<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans&display=swap"
        rel="stylesheet">

    <style>
        html {
            background-color: #DBEAFE;
            background: #DBEAFE;
            /* font-family: 'Roboto'; */
            font-family: 'Poppins';
            font-weight: bold;
        }

        body {
            background-color: #DBEAFE;
            background: #DBEAFE;
            margin: 0px;
            background-color: #DBEAFE;
            background: #DBEAFE;
            /* font-family: 'Roboto'; */
            font-family: 'Poppins';
            ;
        }

        .check-box-container {
            display: block;
            position: relative;
            padding-left: 18px;
            height: 13px;
            margin-top: 2px;
            margin-bottom: 1px;
            margin-right: 2px;
            /* margin-left: 2px; */
            /* padding-top:2px; */
            font-size: 7px;
            color: #2563EB;
            /* line-height: 10.5px; */
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            -webkit-align-items: center;
        }

        /* Hide the browser's default checkbox */
        .check-box-container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 11px;
            width: 11px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .check-box-container:hover input~.checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .check-box-container input:checked~.checkmark {
            background-color: white;
            border: 1px solid #2563EB;
            border-radius: 2px;

        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;

        }

        /* Show the checkmark when checked */
        .check-box-container input:checked~.checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .check-box-container .checkmark:after {
            left: 4px;
            top: 1px;
            width: 2px;
            height: 6px;
            border: solid #2563EB;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);

        }

        .pdf-container {
            margin: 20px;
            /* margin-right: 20px; */
        }

        .logo-header-text {
            /* font-family: Poppins; */
            font-size: 8px;
            font-weight: 600;
            line-height: 12px;
            text-align: center;
            color: #475571;
        }

        .pdf-title-header {
            font-weight: 600;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            color: #2563EB;
            font-family: 'Poppins' !important;
        }

        .pdf-sub-header {
            font-weight: bold;
            font-size: 10px;
            line-height: 16px;
            text-align: center;
            color: #475569;

        }

        .pdf-basic-info-header {
            background-color: #EFF6FF;
            background: #EFF6FF;
            text-align: center;
            font-size: 8px;
            line-height: 12px;
            color: #475571;
            padding-top: 2px;
            padding-bottom: 2px;
            width: 100%;
            font-weight: bold;
        }

        .pdf-section-header {
            background-color: #EFF6FF;
            background: #EFF6FF;
            text-align: center;
            font-size: 10px;
            line-height: 15px;
            color: #2563EB;
            padding-top: 2px;
            padding-bottom: 2px;
            width: 100%;
            border-radius: 5px 5px 0 0;
            margin-top: 2px;
            font-weight: bold;
        }


        .flex-container {
            display: flex;
            flex-direction: row;
            /* align-items: center; */
            display: -webkit-box;
            display: -webkit-flex;
            -webkit-flex-direction: row;
            -webkit-flex-wrap: wrap;
            display: flex;
            flex-wrap: wrap;
            flex: none;
            order: 1;
            flex-grow: 0;

            /* margin-top: 2px; */

        }

        .no-margin {
            margin: 0px !important;
        }

        .row-header {
            background-color: #D1DBE9;
            background: #D1DBE9;
            margin: 0;
            box-sizing: border-box;
            display: flex;
            border: 1px solid #EFF6FF;
            display: -webkit-box;
            display: -webkit-flex;
            flex-direction: row;
            -webkit-flex-direction: row;
            -webkit-flex-wrap: wrap;
            display: flex;
            flex-wrap: wrap;
            overflow-wrap: break-word;
            /* height: 25px; */
        }

        .row-header-text {
            font-size: 8px;
            line-height: 12px;
            font-weight: bold;
            color: #475571;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 2px;
        }

        .row-value-flex-column {
            background-color: #FFFFFF;
            background: #FFFFFF;
            margin: 0;
            box-sizing: border-box;
            display: flex;
            border: 1px solid #EFF6FF;
            flex-direction: column;
            flex-wrap: wrap;
            display: -webkit-box;
            display: -webkit-flex;
            -webkit-flex-direction: column;
            -webkit-flex-wrap: wrap;

        }

        .row-value-flex-row {
            background-color: #FFFFFF;
            background: #FFFFFF;
            margin: 0;
            box-sizing: border-box;
            display: flex;
            /* border: 1px solid #EFF6FF; */
            flex-direction: row;
            align-items: center;
            display: -webkit-box;
            display: -webkit-flex;
            -webkit-flex-direction: row;
            -webkit-flex-wrap: wrap;
            display: flex;
            flex-wrap: wrap;
            flex: none;
            order: 1;
            flex-grow: 0;
            padding-left: 2px;
        }

        .row-value-text {
            font-size: 8px;
            line-height: 12px;
            font-weight: bold;
            color: #475571;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 2px;
            /* border-top: 1px solid #EFF6FF; */
            /* display: flex; */
        }

        .row-value-text-flex-row {
            font-size: 8px;
            line-height: 12px;
            font-weight: bold;
            color: #475571;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 2px;
            border-top: 1px solid #EFF6FF;
            display: flex;
            display: flex;
            flex-direction: row;
            /* align-items: center; */
            display: -webkit-box;
            display: -webkit-flex;
            -webkit-flex-direction: row;
            -webkit-flex-wrap: wrap;
            display: flex;
            flex-wrap: wrap;
        }




        .check-box-container {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            -webkit-align-items: center;
        }

        .checkbox-label-checked {
            font-size: 7px;
            color: #2563EB;
            line-height: 10.5px;
            font-weight: bold;
        }

        .checkbox-label {
            font-size: 7px;
            color: #AAAAAA;
            line-height: 10.5px;
            font-weight: bold;
        }



        .informative-section-header {
            /* font-family: Poppins; */
            font-size: 8px;
            font-weight: 600;
            line-height: 12px;
            text-align: left;
            color: #475571;
            padding-left: 2px;
        }

        .informative-section-label {
            /* font-family: Poppins; */
            font-size: 8px;
            font-weight: 400;
            line-height: 12px;
            color: #2563EB;
            padding-left: 2px;
        }

        .informative-section-value {
            /* font-family: Poppins; */
            font-size: 8px;
            font-weight: 400;
            line-height: 12px;
            color: #475571;
            padding-left: 2px;
        }

        .informative-section-container {
            background-color: #EFF6FF;
            background: #EFF6FF;
            padding-top: 2px;
            padding-bottom: 2px;
            box-sizing: border-box;
            border: 1px solid #DBEAFE;

        }

        .certification-text {
            font-size: 8px;
            font-weight: 400;
            line-height: 12px;
            text-align: left;
            color: #475571;

        }

        .certification-text-bold {
            font-size: 8px;
            font-weight: 700;
            line-height: 12px;
            text-align: left;
            color: #475571;

        }
    </style>
</head>

<body>
    <div class="pdf-container">
        <p class="pdf-title-header">Indiana Energy Assistance Program Application </p>
        <p class="pdf-sub-header">Program Year 2024</p>
        <div class="flex-container ">
            <div class="row-value-flex-column"
                style="width:50%;justify-content: center; -webkit-justify-content:center;">
                <img width="117px" height="29px" style="display: block;margin-left: auto;margin-right: auto;"
                    src="data:image/png;base64,{{logo}}" alt="Logo">
                <!-- <img  width="107px" style="display: block;margin-left: auto;margin-right: auto;" src="./pdfLogo.png"
                    alt="Logo"> -->
                <p class="logo-header-text"> Indiana Housing &
                    Community Development Authority</p>
            </div>
            <div class="row-value-flex-column" style="width:50%">
                <div class="pdf-basic-info-header">
                    For Provider/Agency Use Only
                </div>
                <div class="flex-container no-margin">
                    <div class="row-value-flex-row" style="width:100%">
                        <div class="row-value-text" style="width: 50%;">
                            Date received:
                        </div>
                        <div class="row-value-text">
                            07/19/2024
                        </div>
                    </div>
                    <div class="row-value-flex-row" style="width:100%">
                        <div class="row-value-text" style="width: 50%;">
                            Application number:
                        </div>
                        <div class="row-value-text">
                            3421MPGX
                        </div>
                    </div>
                    <div class="row-value-flex-row" style="width:100%">
                        <label class="check-box-container">
                            <input type="checkbox" checked="checked">
                            <span class="checkbox-label-checked">Mail-In</span>
                            <span class="checkmark "></span>
                        </label>

                        <label class="check-box-container">
                            <input type="checkbox">
                            <span class="checkbox-label">Appointment</span>
                            <span class="checkmark"> </span>
                        </label>
                        <label class="check-box-container">

                            <input type="checkbox">
                            <span class="checkbox-label"> Outreach/Home Visit/Other</span>
                            <span class="checkmark checkbox-label"></span>
                        </label>
                    </div>
                    <div class="row-value-flex-row" style="width:100%">
                        <div class="row-value-text" style="width: 80%;">
                            Household is disconnected or out of fuel:
                        </div>
                        <label class="check-box-container">
                            <input type="checkbox" checked="checked">
                            <span class="checkbox-label-checked"> Yes</span>
                            <span class="checkmark checkbox-label"> </span>
                        </label>
                        <label class="check-box-container">
                            <input type="checkbox">
                            <span class="checkbox-label"> No </span>
                            <span class="checkmark"> </span>
                        </label>
                    </div>
                    <div class="row-value-flex-row" style="width:100%">
                        <div class="row-value-text" style="width: 80%;">
                            Household has d/c notice or less than 25% fuel:
                        </div>
                        <label class="check-box-container">
                            <input type="checkbox" checked="checked">
                            <span class="checkbox-label-checked"> Yes</span>
                            <span class="checkmark"> </span>
                        </label>
                        <label class="check-box-container">
                            <input type="checkbox">
                            <span class="checkbox-label"> No </span>
                            <span class="checkmark"> </span>
                        </label>
                    </div>
                    <div class="row-value-flex-row" style="width:100%">
                        <div class="row-value-text" style="width: 80%;">
                            Household heat source is inoperable:
                        </div>
                        <label class="check-box-container">
                            <input type="checkbox" checked="checked">
                            <span class="checkbox-label-checked"> Yes</span>
                            <span class="checkmark"> </span>
                        </label>
                        <label class="check-box-container">
                            <input type="checkbox">
                            <span class="checkbox-label"> No </span>
                            <span class="checkmark"> </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class=" flex-container">
            <div class="row-value-flex-column" style="width:100%">

                <div class="row-value-text">
                    <label class="check-box-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Check here if your electric or heating utility is
                            disconnected or
                            scheduled for disconnection, or you are low or out of bulk heating fuel or
                            prepaid
                            electricity.</span>
                        <span class="checkmark"> </span>
                    </label>
                    <p>
                        If your utility has been disconnected or is scheduled for disconnection, or if
                        you are low or
                        out of a prepaid, bulk deliverable fuel, contact your local service provider
                        listed above to
                        request a crisis appointment. If you need other emergency options, please call
                        2-1-1.
                    </p>

                </div>
            </div>
        </div>

        <div class="pdf-section-header">
            Part I: Contact Information
        </div>
        <div class="flex-container">
            <div class="row-header" style="width: 50%;">
                <div class="row-header-text">
                    Applicant First Name
                </div>
            </div>
            <div class="row-header" style="width: 25%;">
                <div class="row-header-text">
                    Last four digits of SSN
                </div>
            </div>
            <div class="row-header" style="width: 25%;">
                <div class="row-header-text">
                    Country
                </div>

            </div>
        </div>
        <div class="flex-container">
            <div class="row-value-flex-column" style="width: 50%;">
                <div class="row-value-text-flex-row">
                    {{data.pdfData.contact_information.ci_name}}
                </div>

            </div>
            <div class="row-value-flex-column" style="width: 25%;">
                <div class="row-value-text-flex-row">
                    {{data.pdfData.contact_information.ci_ssn}}
                </div>
            </div>
            <div class="row-value-flex-column" style="width: 25%;">
                <div class="row-value-text-flex-row">
                    {{data.pdfData.contact_information.ci_county}}
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-header" style="width: 50%;">
                <div class="row-header-text">
                    Physical Address (Including Apartment/Lot/Trailer Number)
                </div>
            </div>
            <div class="row-header" style="width: 16.66%;">
                <div class="row-header-text">
                    State
                </div>
            </div>
            <div class="row-header" style="width: 16.66%;">
                <div class="row-header-text">
                    City
                </div>

            </div>
            <div class="row-header" style="width: 16.66%;">
                <div class="row-header-text">
                    Zip
                </div>

            </div>
        </div>
        <div class="flex-container">
            <div class="row-value-flex-column" style="width: 50%;">
                <div class="row-value-text-flex-row">
                    {{data.pdfData.contact_information.ci_physical_address}}
                </div>

            </div>
            <div class="row-value-flex-column" style="width: 16.66%;">
                <div class="row-value-text-flex-row">
                    {{data.pdfData.contact_information.ci_state}}
                </div>
            </div>
            <div class="row-value-flex-column" style="width: 16.66%;">
                <div class="row-value-text-flex-row">
                    {{data.pdfData.contact_information?.ci_city}}
                </div>
            </div>
            <div class="row-value-flex-column" style="width: 16.66%;">
                <div class="row-value-text-flex-row">
                    {{data.pdfData.contact_information.ci_zip_code}}
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-header" style="width: 100%;">
                <div class="row-header-text">
                    If you have a PO box or an alternate mailing address, please list it below.
                    Otherwise, please leave
                    blank.
                </div>
            </div>

        </div>
        <div class="flex-container">
            <div class="row-value-flex-column" style="width: 100%;">
                <div class="row-value-text-flex-row">
                    {{#ifCond data.pdfData.contact_information.ci_po_or_alternate_mailing_address "==" 'Yes'}}
                    {{data.pdfData.contact_information.ci_alternate_mailing_address}}
                    {{/ifCond}}

                </div>

            </div>
        </div>
        <div class="flex-container">
            <div class="row-header" style="width: 100%;">
                <div class="row-header-text">
                    Please provide at least one form of contact information. Failure to provide accurate
                    contact
                    information may delay application processing.
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-header" style="width: 30%;">
                <div class="row-header-text">
                    Telphone number
                </div>
            </div>
            <div class="row-header" style="width: 30%;">
                <div class="row-header-text">
                    Mobile phone
                </div>
            </div>
            <div class="row-header" style="width: 40%;">
                <div class="row-header-text">
                    E-mail Address
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-value-flex-column" style="width: 30%;">
                <div class="row-value-text-flex-row">
                    {{data.pdfData.contact_information.ci_landline_number}}
                </div>

                <div class="row-value-text-flex-row">
                    <label class="check-box-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked"> Landline</span>
                        <span class="checkmark"> </span>
                    </label>
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label"> Mobile</span>
                        <span class="checkmark"> </span>
                    </label>

                </div>

            </div>
            <div class="row-value-flex-column" style="width: 30%;">
                <div class="row-value-text-flex-row">
                    {{data.pdfData.contact_information.ci_mobile_number}}
                </div>
                <div class="row-value-text-flex-row">
                    <label class="check-box-container">
                        {{#ifCond data.pdfData.contact_information.ci_sms_notification "==" 'Yes'}}
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked"> Consent to receive texts</span>
                        {{/ifCond}}
                        {{#ifCond data.pdfData.contact_information.ci_sms_notification "==" 'No'}}
                        <input type="checkbox">
                        <span class="checkbox-label"> Consent to receive texts</span>
                        {{/ifCond}}
                        <span class="checkmark"> </span>
                    </label>
                </div>
            </div>
            <div class="row-value-flex-column" style="width: 40%;">
                <div class="row-value-text-flex-row">
                    {{data.pdfData.contact_information.ci_email_address}}
                </div>
                <div class="row-value-text-flex-row">
                    <label class="check-box-container">
                        {{#ifCond data.pdfData.contact_information.ci_email_notification "==" 'Yes'}}
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked"> Check box to give consent for us to e-mail
                            you.</span>
                        {{/ifCond}}
                        {{#ifCond data.pdfData.contact_information.ci_email_notification "==" 'No'}}
                        <input type="checkbox">
                        <span class="checkbox-label"> Check box to give consent for us to e-mail
                            you.</span>
                        {{/ifCond}}
                        <span class="checkmark"> </span>
                    </label>
                </div>

            </div>
        </div>
        <div class="pdf-section-header">
            Part II: Home and Utility Information
        </div>
        <div class="flex-container">
            <div class="row-header" style="width: 50%;">
                <div class="row-header-text">
                    Home Type (Please check one)
                </div>
            </div>
            <div class="row-header" style="width: 50%;">
                <div class="row-header-text">
                    Home Ownership (Please check one)

                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-value-flex-column" style="width: 50%;">

                <div class="row-value-text-flex-row">
                    <label class="check-box-container">
                        {{#ifCond data.pdfData.home_and_utility_information.haui_type_of_home "==" 'Site-built single
                        house'}}
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked"> Site-built single house
                        </span>
                        {{/ifCond}}
                        {{#ifCond data.pdfData.home_and_utility_information.haui_type_of_home "!=" 'Site-built single
                        house'}}
                        <input type="checkbox">
                        <span class="checkbox-label">Site-built single house
                        </span>
                        {{/ifCond}}
                        <span class="checkmark"> </span>
                    </label>
                    <label class="check-box-container">
                        {{#ifCond data.pdfData.home_and_utility_information.haui_type_of_home "==" "Multi-unit
                        (apartment,
                        condo, duplex, etc.)"}}
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Multi-unit (apartment, condo, duplex, etc.)
                        </span>
                        {{/ifCond}}
                        {{#ifCond data.pdfData.home_and_utility_information.haui_type_of_home "!=" "Multi-unit
                        (apartment,
                        condo, duplex, etc.)"}}
                        <input type="checkbox">
                        <span class="checkbox-label">Multi-unit (apartment, condo, duplex, etc.)
                        </span>
                        {{/ifCond}}
                        <span class="checkmark"> </span>
                        <!-- <input type="checkbox">
                        <span class="checkbox-label"> Multi-unit (apartment, condo, duplex, etc.)</span>
                        <span class="checkmark"> </span> -->
                    </label>
                    <label class="check-box-container">
                        {{#ifCond data.pdfData.home_and_utility_information.haui_type_of_home "==" 'Mobile home'}}
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Mobile home</span>
                        {{/ifCond}}
                        {{#ifCond data.pdfData.home_and_utility_information.haui_type_of_home "!=" 'Mobile home'}}
                        <input type="checkbox">
                        <span class="checkbox-label">Mobile home
                        </span>
                        {{/ifCond}}
                        <span class="checkmark">
                            <!-- <input type="checkbox">
                        <span class="checkbox-label"> Mobile home</span>
                        <span class="checkmark"> </span> -->
                    </label>
                    <label class="check-box-container">
                        {{#ifCond data.pdfData.home_and_utility_information.haui_type_of_home "==" 'Other'}}
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Other</span>
                        {{/ifCond}}
                        {{#ifCond data.pdfData.home_and_utility_information.haui_type_of_home "!=" 'Other'}}
                        <input type="checkbox">
                        <span class="checkbox-label">Other
                        </span>
                        {{/ifCond}}
                        <span class="checkmark">

                    </label>

                </div>

            </div>
            <div class="row-value-flex-column" style="width:50%">
                <div class="row-value-text-flex-row">
                    <label class="check-box-container">
                        {{#ifCond data.pdfData.home_and_utility_information.haui_own_home_or_rental "==" 'Own'}}
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Own</span>
                        {{/ifCond}}
                        {{#ifCond data.pdfData.home_and_utility_information.haui_own_home_or_rental "!=" 'Own'}}
                        <input type="checkbox">
                        <span class="checkbox-label">Own
                        </span>
                        {{/ifCond}}
                        <span class="checkmark">
                            <!-- <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Own</span>
                        <span class="checkmark"> </span> -->
                    </label>
                    <label class="check-box-container">
                        {{#ifCond data.pdfData.home_and_utility_information.haui_own_home_or_rental "==" 'Rent'}}
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Rent</span>
                        {{/ifCond}}
                        {{#ifCond data.pdfData.home_and_utility_information.haui_own_home_or_rental "!=" 'Rent'}}
                        <input type="checkbox">
                        <span class="checkbox-label">Rent
                        </span>
                        {{/ifCond}}
                        <span class="checkmark"> </span>
                    </label>
                    <label class="check-box-container">
                        {{#ifCond data.pdfData.home_and_utility_information.haui_own_home_or_rental "==" 'Other'}}
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Other</span>
                        {{/ifCond}}
                        {{#ifCond data.pdfData.home_and_utility_information.haui_own_home_or_rental "!=" 'Other'}}
                        <input type="checkbox">
                        <span class="checkbox-label">Other
                        </span>
                        {{/ifCond}}
                        <span class="checkmark"> </span>
                    </label>
                </div>
            </div>

        </div>
        <div class="flex-container">

            <div class="row-header" style="width: 100%">
                <div class="row-header-text">
                    Utilities and Payment
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-value-flex-row" style="width: 100%;">
                <div class="row-value-flex-column" style="width: 50%;">
                    <div class="row-value-text-flex-row">
                        Electricity Vendor: {{data.pdfData.home_and_utility_information.haui_electricity_vendor}}
                    </div>

                    <div class="row-value-text-flex-row">
                        <label class="check-box-container">
                            {{#ifCond data.pdfData.home_and_utility_information.haui_electricity_included_house_rent
                            "=="
                            'Yes'}}
                            <input type="checkbox" checked="checked">
                            <span class="checkbox-label-checked">Included in rent</span>
                            {{/ifCond}}
                            {{#ifCond data.pdfData.home_and_utility_information.haui_electricity_included_house_rent
                            "!="
                            'Yes'}}
                            <input type="checkbox">
                            <span class="checkbox-label">Included in rent
                            </span>
                            {{/ifCond}}
                            <span class="checkmark"> </span>
                            <!-- <input type="checkbox" checked="checked">
                            <span class="checkbox-label-checked"> Included in rent</span>
                            <span class="checkmark"> </span> -->
                        </label>
                    </div>


                </div>
                <div class="row-value-flex-column" style="width: 50%;">
                    <div class="row-value-text-flex-row">
                        Heating Vendor: {{data.pdfData.home_and_utility_information.haui_heating_vendor}}
                    </div>

                    <div class="row-value-text-flex-row">
                        <label class="check-box-container">
                            {{#ifCond data.pdfData.home_and_utility_information.haui_heat_included_house_rent "=="
                            'Yes'}}
                            <input type="checkbox" checked="checked">
                            <span class="checkbox-label-checked">Included in rent</span>
                            {{/ifCond}}
                            {{#ifCond data.pdfData.home_and_utility_information.haui_electricity_included_house_rent
                            "!="
                            'Yes'}}
                            <input type="checkbox">
                            <span class="checkbox-label">Included in rent
                            </span>
                            {{/ifCond}}
                            <span class="checkmark"> </span>
                            <!-- <input type="checkbox">
                            <span class="checkbox-label"> Included in rent</span>
                            <span class="checkmark"> </span> -->
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-header" style="width: 50%">
                <div class="row-header-text">
                    Primary Heating Source (please check one)
                </div>
            </div>
            <div class="row-header" style="width: 50%">
                <div class="row-header-text">
                    Primary Heating Fuel (please check one)
                </div>
            </div>

        </div>
        <div class="flex-container">
            <div class="row-value-flex-column" style="width:50%">

                <div class="row-value-text-flex-row">
                    <label class="check-box-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Furnace/Heat Pump</span>
                        <span class="checkmark"> </span>
                    </label>
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label">Baseboard/Wall Unit</span>
                        <span class="checkmark"> </span>
                    </label>
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label">Wood Stove</span>
                        <span class="checkmark"> </span>
                    </label>
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label"> Other</span>
                        <span class="checkmark"> </span>
                    </label>

                </div>

            </div>
            <div class="row-value-flex-column" style="width: 50%">

                <div class="row-value-text-flex-row">
                    <label class="check-box-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Furnace/Heat Pump</span>
                        <span class="checkmark"> </span>
                    </label>
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label">Baseboard/Wall Unit</span>
                        <span class="checkmark"> </span>
                    </label>
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label">Wood Stove</span>
                        <span class="checkmark"> </span>
                    </label>
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label"> Other</span>
                        <span class="checkmark"> </span>
                    </label>

                </div>

            </div>

        </div>
        <div class="flex-container">

            <div class="row-header" style="width: 100%">
                <div class="row-header-text">
                    Do you have a secondary heating source installed?
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-value-flex-column" style="width:100%">
                <div class="row-value-text-flex-row" style="width:100%">
                    <label class="check-box-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Yes</span>
                        <span class="checkmark"> </span>
                    </label>
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label">No</span>
                        <span class="checkmark"> </span>
                    </label>
                </div>
                <div class="row-value-text-flex-row">
                    <div> <span>If yes, please describe: </span></div>
                </div>

            </div>
        </div>
        <div class="pdf-section-header">
            Part III: Income and Benefits
        </div>
        <div class="flex-container">
            <div class="row-header" style="width: 100%">
                <div class="row-header-text">
                    Please indicate all types of income received by any member of the household in the
                    past three
                    months. Check all that apply.
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-value-flex-column" style="width:100%;height: 80px;">
                <div class="row-value-flex-row">
                    <label class="check-box-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Furnace/Heat Pump</span>
                        <span class="checkmark"> </span>
                    </label>
                </div>
                <div class="row-value-flex-row">
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label">Baseboard/Wall Unit</span>
                        <span class="checkmark"> </span>
                    </label>
                </div>
                <div class="row-value-flex-row">
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label">Wood Stove</span>
                        <span class="checkmark"> </span>
                    </label>
                </div>
                <div class="row-value-flex-row">
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label"> Other</span>
                        <span class="checkmark"> </span>
                    </label>
                </div>
                <label class="check-box-container">
                    <input type="checkbox" checked="checked">
                    <span class="checkbox-label-checked">Furnace/Heat Pump</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Baseboard/Wall Unit</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Wood Stove</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label"> Other</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox" checked="checked">
                    <span class="checkbox-label-checked">Furnace/Heat Pump</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Baseboard/Wall Unit</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Wood Stove</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label"> Other</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox" checked="checked">
                    <span class="checkbox-label-checked">Furnace/Heat Pump</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Baseboard/Wall Unit</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Wood Stove</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label"> Other</span>
                    <span class="checkmark"> </span>
                </label>

            </div>
        </div>
        <div class="flex-container">

            <div class="row-header" style="width: 100%">
                <div class="row-header-text">
                    Please indicate all sources of assistance received by any member of the household.
                    Check all that
                    apply.
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-value-flex-column" style="width:100%;height: 80px;">
                <!-- <div class="row-value-text-flex-row"> -->
                {{#each data.assistance_received_by_anyone_values}}
                <div class="row-value-flex-row">
                    <label class="check-box-container">
                        {{#ifCond this.checked "==" true}}
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">{{this.label}}</span>
                        {{/ifCond}}
                        {{#ifCond this.checked "==" false}}
                        <input type="checkbox">
                        <span class="checkbox-label"> {{this.label}}</span>
                        {{/ifCond}}
                        <span class="checkmark"> </span>
                        <!-- <input type="checkbox" checked="checked">
                    <span class="checkbox-label-checked">{{this.label}}</span>
                    <span class="checkmark"> </span> -->
                    </label>
                </div>
                {{/each}}
                <!-- <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Baseboard/Wall Unit</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Wood Stove</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label"> Other</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox" checked="checked">
                    <span class="checkbox-label-checked">Furnace/Heat Pump</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Baseboard/Wall Unit</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Wood Stove</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label"> Other</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox" checked="checked">
                    <span class="checkbox-label-checked">Furnace/Heat Pump</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Baseboard/Wall Unit</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Wood Stove</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label"> Other</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox" checked="checked">
                    <span class="checkbox-label-checked">Furnace/Heat Pump</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Baseboard/Wall Unit</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Wood Stove</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label"> Other</span>
                    <span class="checkmark"> </span>
                </label> -->
                <!-- </div> -->
            </div>
        </div>
        <div class="flex-container">

            <div class="row-header" style="width: 50%">
                <div class="row-header-text">
                    Has anybody in the household paid child support in the past three months?
                </div>
            </div>
            <div class="row-header" style="width: 50%">
                <div class="row-header-text">
                    Is anybody in the household between the ages of 14-24 and neither working nor
                    attending school?
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-value-flex-column" style="width:50%">
                <div class="row-value-text-flex-row">
                    <label class="check-box-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Yes (please submit proof of
                            payments)</span>
                        <span class="checkmark"> </span>
                    </label>
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label">No</span>
                        <span class="checkmark"> </span>
                    </label>

                </div>
            </div>
            <div class="row-value-flex-column" style="width:50%">
                <div class="row-value-text-flex-row">
                    <label class="check-box-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked">Yes (please submit proof of
                            payments)</span>
                        <span class="checkmark"> </span>
                    </label>
                    <label class="check-box-container">
                        <input type="checkbox">
                        <span class="checkbox-label">No</span>
                        <span class="checkmark"> </span>
                    </label>
                </div>
            </div>

        </div>
        <div style="page-break-after:always">
        </div>
        <div class="pdf-section-header">
            Part IV: Household Members and Demographics
        </div>
        <div class="flex-container">
            <div class="row-header" style="width: 100%">
                <div class="row-header-text">
                    List all people residing in household, including yourself. Check here and attach additional sheet if
                    more than four people are in household
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-header" style="width: 5%">
            </div>
            <div class="row-header" style="width: 20%">
                <div class="row-header-text">
                    Last Name and Suffix
                </div>
            </div>
            <div class="row-header" style="width: 20%">
                <div class="row-header-text">
                    First Name
                </div>
            </div>
            <div class="row-header" style="width: 5%">
                <div class="row-header-text">
                    M.I.
                </div>
            </div>
            <div class="row-header" style="width: 7%">
                <div class="row-header-text">
                    Date of
                    Birth
                </div>
            </div>
            <div class="row-header" style="width: 8%">
                <div class="row-header-text">
                    Gender
                </div>
            </div>
            <div class="row-header" style="width: 5%">
                <div class="row-header-text">
                    Disable?
                </div>
            </div>
            <div class="row-header" style="width: 5%">
                <div class="row-header-text">
                    Race
                </div>
            </div>
            <div class="row-header" style="width: 5%">
                <div class="row-header-text">
                    Ethnicity </div>
            </div>
            <div class="row-header" style="width: 5%">
                <div class="row-header-text">
                    Employment
                </div>
            </div>
            <div class="row-header" style="width: 5%">
                <div class="row-header-text">
                    Education
                </div>
            </div>
            <div class="row-header" style="width: 5%">
                <div class="row-header-text">
                    Health
                    Insurance
                </div>
            </div>
            <div class="row-header" style="width: 5%">
                <div class="row-header-text">
                    Military
                    Status
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    Applicant
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 20%">
                <div class="row-value-text">
                    Williamson
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 20%">
                <div class="row-value-text">
                    Cameron
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    M.I.
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 7%">
                <div class="row-value-text">
                    01/24/1960
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 8%">
                <div class="row-value-text">
                    Male
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    Yes
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    O
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    N
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    PT
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    C
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    D
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    V
                </div>
            </div>

        </div>
        <div class="flex-container">
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    2
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 20%">
                <div class="row-value-text">
                    Williamson
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 20%">
                <div class="row-value-text">
                    Cameron
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    M.I.
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 7%">
                <div class="row-value-text">
                    01/24/1960
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 8%">
                <div class="row-value-text">
                    Male
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    Yes
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    O
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    N
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    PT
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    C
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    D
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    V
                </div>
            </div>

        </div>

        <div class="flex-container">
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    3
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 20%">
                <div class="row-value-text">
                    Williamson
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 20%">
                <div class="row-value-text">
                    Cameron
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    M.I.
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 7%">
                <div class="row-value-text">
                    01/24/1960
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 8%">
                <div class="row-value-text">
                    Male
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    Yes
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    O
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    N
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    PT
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    C
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    D
                </div>
            </div>
            <div class="row-value-flex-row" style="width: 5%">
                <div class="row-value-text">
                    V
                </div>
            </div>

        </div>
        <div class="flex-container">
            <div class="informative-section-container" style="width: 30%;">
                <p class="informative-section-header">
                    Race Codes
                </p>
                <span class="informative-section-label">
                    A <span class="informative-section-value">
                        -Asian
                    </span>
                </span>
                <span class="informative-section-label">
                    B <span class="informative-section-value">
                        - Black or African American
                    </span>
                </span>
                <span class="informative-section-label">
                    I <span class="informative-section-value">
                        -American Indian or Alaska Native
                    </span>
                </span>
                <span class="informative-section-label">
                    P <span class="informative-section-value">
                        -Native Hawaiian or other Pacific Island
                    </span>
                </span>
                <span class="informative-section-label">
                    W <span class="informative-section-value">
                        -White
                    </span>
                </span>
                <span class="informative-section-label">
                    M <span class="informative-section-value">
                        -Multi-race
                    </span>
                </span>
                <span class="informative-section-label">
                    O <span class="informative-section-value">
                        -Other
                    </span>
                </span>
            </div>
            <div class="informative-section-container" style="width: 20%;">
                <p class="informative-section-header">
                    Ethnicity Codes
                </p>
                <span class="informative-section-label">
                    A <span class="informative-section-value">
                        -H - Hispanic, Latino,
                        or Spanish origins
                    </span>
                </span>
                <span class="informative-section-label">
                    N <span class="informative-section-value">
                        - Not Hispanic, Latino,
                        or Spanish origins
                    </span>
                </span>

            </div>
            <div class="informative-section-container" style="width: 50%;">
                <p class="informative-section-header">
                    Employment Codes:
                </p>
                <span class="informative-section-label">
                    E <span class="informative-section-value">
                        Employed full-time
                    </span>
                </span>
                <span class="informative-section-label">
                    PT <span class="informative-section-value">
                        - Employed part time
                    </span>
                </span>
                <span class="informative-section-label">
                    R <span class="informative-section-value">
                        - Retired
                    </span>
                </span>
                <span class="informative-section-label">
                    US <span class="informative-section-value">
                        - Unemployed six months or less;
                    </span>
                </span>
                <span class="informative-section-label">
                    UL <span class="informative-section-value">
                        - Unemployed longer than six months
                    </span>
                </span>
                <span class="informative-section-label">
                    NL <span class="informative-section-value">
                        - Not in labor force
                    </span>
                </span>
                <span class="informative-section-label">
                    M <span class="informative-section-value">
                        - Migrant Seasonal farm worker
                    </span>
                </span>


            </div>
        </div>
        <div class="flex-container">
            <div class="informative-section-container" style="width: 40%;">
                <p class="informative-section-header">
                    Education codes:
                </p>
                <span class="informative-section-label">
                    A <span class="informative-section-value">
                        - Grades 0-8
                    </span>
                </span>
                <span class="informative-section-label">
                    B <span class="informative-section-value">
                        - Grades 9-12, Non-graduate
                    </span>
                </span>
                <span class="informative-section-label">
                    C <span class="informative-section-value">
                        - High School Graduate/Equivalency Diploma
                    </span>
                </span>
                <span class="informative-section-label">
                    D <span class="informative-section-value">
                        - Some post-secondary school
                    </span>
                </span>
                <span class="informative-section-label">
                    E <span class="informative-section-value">
                        - 2- or 4-year college degree
                    </span>
                </span>
                <span class="informative-section-label">
                    F <span class="informative-section-value">
                        - Other post-secondary graduate
                    </span>
                </span>
            </div>
            <div class="informative-section-container" style="width: 40%;">
                <p class="informative-section-header">
                    Health Insurance Codes:

                </p>
                <span class="informative-section-label">
                    A <span class="informative-section-value">
                        - Medicaid
                    </span>
                </span>
                <span class="informative-section-label">
                    B <span class="informative-section-value">
                        - Medicare
                    </span>
                </span>
                <span class="informative-section-label">
                    C <span class="informative-section-value">
                        - State Children's Health Insurance Program
                    </span>
                </span>
                <span class="informative-section-label">
                    D <span class="informative-section-value">
                        - State Health Insurance for Adults
                    </span>
                </span>
                <span class="informative-section-label">
                    E <span class="informative-section-value">
                        - Military Health Care
                    </span>
                </span>
                <span class="informative-section-label">
                    F <span class="informative-section-value">
                        - Direct-Purchase
                    </span>
                </span>
                <span class="informative-section-label">
                    G <span class="informative-section-value">
                        - Employment-Based
                    </span>
                </span>
                <span class="informative-section-label">
                    N <span class="informative-section-value">
                        - None
                    </span>
                </span>

            </div>
            <div class="informative-section-container" style="width: 20%;">
                <p class="informative-section-header">
                    Military Codes
                </p>
                <span class="informative-section-label">
                    A <span class="informative-section-value">
                        - Active-duty military
                    </span>
                </span>
                <span class="informative-section-label">
                    V <span class="informative-section-value">
                        - Veteran
                    </span>
                </span>
                <span class="informative-section-label">
                    N <span class="informative-section-value">
                        - No affiliation
                    </span>
                </span>


            </div>
        </div>
        <div class="flex-container">
            <div class="row-header" style="width: 40%;">
                <div class="row-header-text">
                    Is anybody in the household affiliated with this agency as an employee/staff member, board member,
                    or
                    subcrontractor, or related to any such member?
                </div>
            </div>
            <div class="row-header" style="width: 60%;">
                <div class="row-header-text">
                    Household Type (please check one)
                </div>
            </div>

        </div>
        <div class="flex-container">
            <div class="row-value-flex-row" style="width:40%">
                <label class="check-box-container">
                    <label class="check-box-container">
                        {{#ifCond data.pdfData.household_members_demographics.hmd_associated_with_the_agency "==" 'No'}}
                        <input type="checkbox" checked="checked">
                        <span class="checkbox-label-checked"> No</span>
                        {{/ifCond}}
                        {{#ifCond data.pdfData.household_members_demographics.hmd_associated_with_the_agency "!=" 'No'}}
                        <input type="checkbox">
                        <span class="checkbox-label">No</span>
                        {{/ifCond}}
                        <span class="checkmark"> </span>
                    </label>
                    <!-- <input type="checkbox" checked="checked">
                    <span class="checkbox-label-checked"> No</span>
                    <span class="checkmark"> </span> -->
                </label>
                <label class="check-box-container">
                    {{#ifCond data.pdfData.household_members_demographics.hmd_associated_with_the_agency "==" 'Yes'}}
                    <input type="checkbox" checked="checked">
                    <span class="checkbox-label-checked"> Yes (please list)</span>
                    {{/ifCond}}
                    {{#ifCond data.pdfData.household_members_demographics.hmd_associated_with_the_agency "!=" 'Yes'}}
                    <input type="checkbox">
                    <span class="checkbox-label">Yes (please list)</span>
                    {{/ifCond}}
                    <span class="checkmark"> </span>
                    <!-- <input type="checkbox">
                    <span class="checkbox-label"> Yes (please list) </span>
                    <span class="checkmark"> </span> -->
                </label>
            </div>

            <div class="row-value-flex-column" style="width:60%;height: 70px;">
                <label class="check-box-container">
                    <input type="checkbox" checked="checked">
                    <span class="checkbox-label-checked"> Single Person</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label"> Two-Parent Household </span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label"> Multi-Generational Household (three or more generations) </span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label"> Two Adults, No Children </span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Non-related adults with children</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Single Female Parent</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Single Male Parent</span>
                    <span class="checkmark"> </span>
                </label>
                <label class="check-box-container">
                    <input type="checkbox">
                    <span class="checkbox-label">Other</span>
                    <span class="checkmark"> </span>
                </label>
            </div>

        </div>
        <div class="pdf-section-header">
            Part V: Certification
        </div>
        <div class="flex-container">
            <div class="row-value-flex-row" style="width:100%">
                <!-- <p class="certification-text">
                    <b>Disclaimer: </b>
                </p> -->
                <p class="certification-text">
                    <b>Disclaimer: </b>
                    I certify under the penalties for perjury and fraud that the information provided in
                    this application is correct and true. I understand that I may be required to verify these statements
                    and
                    hereby give my consent to the agency from which I am requesting assistance to make contact with any
                    necessary persons to verify these statements. I certify that I am an adult residing in this
                    household
                    and listed on this application, or have a legal power of attorney for an adult residing in this
                    household and listed on this application. I am a resident of Indiana and an applicant for the Energy
                    Assistance and/or Weatherization Assistance Program(s). I acknowledge any services or materials
                    provided
                    to my household will be a gift without consideration or payment by me. I give permission to the
                    State of
                    Indiana and the agency from which I am requesting assistance to obtain information from my energy
                    supplier, including about my energy usage and payment history. I understand that the State of
                    Indiana
                    may use information provided on this form for purposes of research, evaluation and analysis. I also
                    understand that the State of Indiana may use information provided on this form to see if I qualify
                    for
                    any other assistance programs. I hereby release the State of Indiana, the Local Service Provider or
                    other entity from any liability whatsoever resulting from delivery of these activities. I have
                    received
                    no expressed or implied warranties concerning my receipt of these services. I also acknowledge that
                    if I
                    misrepresent or fail to disclose any information requested in this application, or if I am signing
                    or
                    submitting this application or any supporting documentation without the legal authority to do so, I
                    may
                    become ineligible from receiving Energy Assistance and/or Weatherization Assistance and may be
                    required
                    to repay any assistance and/or benefits that the household has received based on any such
                    noncompliance,
                    misrepresentation, or omission.

                </p>

                <p class="certification-text-bold">
                    <b>
                        Energy Assistance Program and Low Income Home Water Assistance Program benefits are provided
                        without
                        regard to race, age, color, religion, sex, disability,national origin, ancestry, or status as a
                        veteran
                    </b>

                </p>

            </div>
        </div>
        <div class="flex-container">
            <div class="row-header" style="width: 50%;">
                <div class="row-header-text">
                    Signature of applicant (required)
                </div>
            </div>
            <div class="row-header" style="width: 50%;">
                <div class="row-header-text">
                    Date (required)
                </div>
            </div>

        </div>
        <div class="flex-container">
            <div class="row-value-flex-column" style="width:50%;height: 48px;">
            </div>
            <div class="row-value-flex-column" style="width:50%;height: 48px;">
                <span style="font-size: 10px; line-height: 15px;">07/19/2024</span>
            </div>
        </div>

    </div>
</body>

</html>